@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #333;
}


/* Header styles */
.header {
  /* border: 1px solid red; */
  width: 85%;
  margin: 4rem auto
}

.header h1 {
  text-transform: uppercase;
  text-align: center;
  padding: 2rem 0;
}

.header__exp {
  text-align: justify;
}

/* Main styles */

main {
  width: 90%;
  margin: 2rem auto;
}

main article {
  /* border: 1px solid red; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  height: 400px;

}

.article__explanation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.article__explanation h2 {
  padding: 3rem 0;

}

.article__explanation p {
  text-align: justify;
  padding: 1rem 2rem;
}

.article__explanation button {
  background-color: rgb(216, 69, 69);
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 2rem;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
}

.article__explanation button:hover {
  opacity: 0.8;

}

/* opcity:0.8
 transition: 0.3s ease; */
img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  object-position: left;
  padding: 0 24px;
}

main article:first-child {
  background-color: rgb(255, 197, 197);
  font-size: 1.2rem;
}